<div class="row">
  <div class="col s4">
    <!-- This is for the new-item side-bar-->
    <h5>Add Item</h5>
    <%= render 'form' %>
  </div>

  <div class="col s8">
    <% if user_signed_in? %>
      <% @items.each do |item| %>
        <% if item.completed? %>
          <div class="row">
            <div class="col s12">
              <div class="card grey lighten-3">
                <div class="card-content">
                <span class="card-title" style="opacity: 0.5;"><strike><%= link_to item.title, item %></strike></span>
                <p style="opacity:0.5;"><%= item.description %></p>
                <p style="opacity:0.5;">Completed <%= time_ago_in_words(item.completed_at) %> ago </p>
              </div>
              <div class="card-action">
              <%= link_to complete_item_path(item), method: :patch do %>
                <i class="fa fa-lg fa-check"></i>
              <% end %>
              <%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-lg fa-trash"></i>
              <% end %>
              </div>
            </div>
          </div>
        </div>
    
      <% else %>

        <div class="row">
          <div class="col s12">
            <div class="card white">
              <div class="card-content">
                <span class="card-title"><%= link_to item.title, item %></span>
                <p><%= item.description %></p>
                <p>Created <%= time_ago_in_words(item.created_at) %> ago </p>
              </div>
              <div class="card-action">
                <%= link_to complete_item_path(item), method: :patch do %>
                  <i class="fa fa-lg fa-check"></i>
                <% end %>
                <%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-lg fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<% else %>
  <%= render 'partials/static_landing_page' %>
<% end %>
